body {
    margin:0;
    padding:0;
    width:100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #5f92fe;
}
.hat {position:absolute;
margin-top:-70px;
margin-left:-150px;
background-color: white;
border-radius:20px;
width:300px;
;
}
.hat img {width:85%;
    display:flex;
    margin-left:25px;
    
}
.total {
    position:absolute;
    width:100%;
    height:100%;
    background-color: #eee9f8;
    transform:scale(0.8);
}
.header {
    padding-top:25px;
    width:100%;
    height:50px;
    padding-bottom:20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee9f8;
}
.header img {
    width:180px;
    height: 100%;
    margin-left:250px;}



.header__nav a {
    text-decoration: none;
    color:white;
    font-size:20px;
    margin:25px;
    color:black;
    font-weight: 600;   
    
}
.header__link {
    border:1px solid grey;
    padding:12px;
    padding-left:20px;
    padding-right:20px;
    border-radius: 20px;
    font-size:18px;
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
    margin-left:150px;
    margin-right:270px;
    
}
.header__link:hover {
    background-color: white;
}
.main {
    display:grid;
    width:70%;
    justify-content: center;
    margin:150px auto;
    gap:170px;
    grid-template-columns: repeat(2, 1fr);
    background-color: #eee9f8;
}
.main p {
    font-size:17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:21px;
}
.main__content img {
    width:250px;
}
.main__btn {
    border-radius: 20px;
    background-color: #1b1e26;
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:21px;
    padding:7px 15px;
    cursor:pointer;
    margin:5px;
}
h1 {
    font-size:35px;
}
.main__btn:hover {
    background-color: grey;
    outline:none;
    color:black;    
}
.footer{
    position:absolute;
    display:flex;
    width:70%;
    height:100px;
    justify-content: space-between;
    margin-left:250px;
        
}
.footer img {
    height:70px;
}
